services:
  gitea:
    image: gitea/gitea:latest
    container_name: gitea
    environment:
      - ROOT_URL=https://gitea.mini.pc
      - SSH_DOMAIN=gitea.mini.pc
      - SSH_PORT=2222
      - HTTP_PORT=3000
    ports:
      - "2222:22"
      - "3000:3000"
    volumes:
      - ./gitea/data:/data
      - ./gitea/config:/etc/gitea
    networks:
      - gitea-network
    restart: unless-stopped

  act-runner:
    image: gitea/act_runner:latest
    container_name: act_runner
    environment:
      - GITEA_INSTANCE_URL=http://gitea:3000
      - GITEA_RUNNER_REGISTRATION_TOKEN=ZY9dRWJZl9PxZqSOL16zK2oyNUdbx9BPJ6awck06
      - GITEA_RUNNER_NAME=runner-1
      - GITEA_RUNNER_LABELS=ubuntu-latest
    volumes:
      - ./act-runner/config:/etc/act-runner
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - gitea
    networks:
      - gitea-network
    restart: unless-stopped

networks:
  gitea-network:
    driver: bridge
