services:
  wordpress:
    image: wordpress:latest
    container_name: wordpress_app
    ports:
      - "8084:80"
    environment:
      - WORDPRESS_DB_HOST=mariadb:3306
      - WORDPRESS_DB_USER=wordpress
      - WORDPRESS_DB_PASSWORD=wordpress_password
      - WORDPRESS_DB_NAME=wordpress
    volumes:
      - ./uploads.ini:/usr/local/etc/php/conf.d/uploads.ini
      - ./wp_data:/var/www/html
    restart: unless-stopped
    networks:
      - mariadb_mariadbnet
volumes:
  wp_data:

networks:
  mariadb_mariadbnet:
    external: true
