services:
  # MediaWiki Application
  wiki:
    image: mediawiki:latest
    container_name: wiki
    restart: unless-stopped
    ports:
      - "8082:80"
    environment:
      - MW_DB_SERVER=mariadb
      - MW_DB_NAME=wiki
      - MW_DB_USER=wiki
      - MW_DB_PASSWORD=mw_password
    volumes:
      - ./wiki_data:/var/www/html/images
      # After initial setup, you will move LocalSettings.php here:
      # - ./LocalSettings.php:/var/www/html/LocalSettings.php
      # php maintenance/run.php update
    networks:
      - mariadb_mariadbnet

networks:
  mariadb_mariadbnet:
    external: true
